__pycache__/board.cpython-38.pyc
__pycache__/connect_4_board.cpython-38.pyc
__pycache__/connect_4_game.cpython-38.pyc
__pycache__/connect_4_minimax_player.cpython-38.pyc
__pycache__/game.cpython-38.pyc
__pycache__/manual_player.cpython-38.pyc
__pycache__/minimax_player.cpython-38.pyc
__pycache__/player.cpython-38.pyc
__pycache__/random_player.cpython-38.pyc
